@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background: #f5f5f5;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    z-index: 200;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 40px;
    align-items: center;
    padding: 18px 28px;
    transform: translateY(-100px);
    animation: slideInFromTop 1s ease-out 1s forwards;
    position: sticky;
    top: 0;
    z-index: 1000;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.line {
    cursor: pointer;
}

.line div {
    margin-top: 6px;
    width: 22px;
    height: 2px;
    background: #212121;
    margin-left: auto;
}

.line div:nth-of-type(1) {
    margin-top: 0;
}

.logo {
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 500;
    color: #333;
}

.logo span {
    font-size: 20px;
    padding-left: 4px;
    font-weight: 500;
}

.menu.open {
    top: 0px;
}

.menu {
    position: fixed;
    top: -110vh;
    left: -10px;
    width: 106%;
    height: 100vh;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease;
}

.close-btn {
    position: absolute;
    top: 34px;
    right: 100px;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.menu.open .close-btn {
    display: block;
}

.line.open .line1:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.line.open .line1:nth-child(2) {
    opacity: 0;
}

.line.open .line1:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-content h1 {
    padding-left: 40px;
    letter-spacing: 1.6px;
    font-size: 32px;
    color: #6B8FA8;
}

.menu-content {
    width: 100%;
}

.navigation_menu {
    display: flex;
    gap: 100px;
}

.navigation_menu a {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
    letter-spacing: 1.6px;
    line-height: 1.8;
}

.navigation_menu li,
a {
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.navigation_menu a:hover {
    color: #CCC;
    transition: .3s;
}

header .form {
    margin-left: auto;
    padding-top: 0;
}

main {
    height: 100vh;
    place-items: center;
    background: #f5f5f5;
    position: relative;
}

.firsttext {
    margin-right: auto;
    padding: 0 20px;
    letter-spacing: 1.6px;
    color: #212121;
}

.firsttext h1 {
    font-size: 150px;
    font-weight: normal;
    margin: 0;
    position: absolute;
    bottom: 180px;
}

.firsttext p {
    font-size: 20px;
    margin: 0;
    padding: 10px 0 20px 12px;
    position: absolute;
    bottom: 120px;
}

.firsttext button {
    display: none;
}

.firsttext_border {
    width: 100%;
    /* border-bottom: 1px solid #ccc; */
    position: absolute;
    bottom: 0;
}

.entry {
    width: 140px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.6px;
    background: #6B8FA8;
    background-size: 200% 100%;
    border: none;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.mobile_text {
    display: none;
}

.mobile_text {
    opacity: 0;
    animation: slidetext 2s ease-out;
}

@keyframes slidetext {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width:1100px) {
    .firsttext h1 {
        font-size: 120px;
    }
}

@media screen and (max-width:900px) {
    .firsttext h1 {
        font-size: 100px;
    }
    .firsttext p {
        font-size: 18px;
    }
}

@media screen and (max-width:700px) {
    main {
        height: 80vh;
    }
    .firsttext h1 {
        font-size: 60px;
        bottom: 200px;
    }
    .firsttext p {
        font-size: 16px;
        bottom: 140px;
        padding-left: 6px;
    }
}

@media screen and (max-width:600px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .mobile_text {
        position: absolute;
        top: 20em;
        left: 20px;
        transform: translate(-50%, -50%);
        transform: translateY(50px);
        display: block;
    }

    .mobile_text img {
        width: 100%;
        height: 12rem;
    }

    .text,
    .box,
    .vector {
        display: none;
    }

}

@media screen and (max-width:560px) {
    header {
        padding: 18px 28px;
    }

    .logo {
        font-size: 22px;
        letter-spacing: 1.6px;
        font-weight: 500;
        color: #333;
    }

    .logo span {
        font-size: 18px;
        padding-left: 4px;
        font-weight: 550;
    }

    .text img {
        width: 28rem;
    }

    .entry {
        width: 120px;
        height: 44px;
        font-size: 1em;
    }

}

@media screen and (max-width:520px) {
    header {
        padding: 10px 20px;
    }

    .text img {
        width: 24rem;
    }
}

@media screen and (max-width:480px) {
    main {
        height: 60vh;
        padding: 0;
    }

    .firsttext {
        padding: 0 10px;
    }

    .firsttext h1 {
        font-size: 40px;
        bottom: 200px;
    }

    .firsttext p {
        font-size: 14px;
        width: 65%;
        padding-left: 2px;
        bottom: 120px;
    }
    .firsttext button {
        display: block;
        position: absolute;
        bottom: 60px;
        padding: 10px;
        background-color: #6B8FA8;
        color: #fff;
        border: none;
        font-size: 14px;
        letter-spacing: 1.6px;
        border-radius: 4px;
    }

    .firsttext_border {
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid #ccc;
    }

    .line div {
        width: 24px;
    }

    header {
        padding: 10px;
        grid-template-columns: repeat(2, 1fr) 40px;
    }

    .logo {
        font-size: 18px;
        letter-spacing: 1.6px;
        font-weight: 500;
        color: #333;
    }

    .logo span {
        font-size: 14px;
        padding-left: 4px;
        font-weight: 550;
    }

    .entry {
        width: 100px;
        height: 38px;
        font-size: 1em;
        letter-spacing: 1.6px;
    }

    .text {
        top: 18%;
    }

    .text img {
        width: 20rem;
    }
}

@media screen and (max-width:375px) {
    header {
        grid-template-columns: repeat(2, 1fr) 30px;
    }

    .line div {
        width: 18px;
        margin-top: 4px;
    }

    .box4 {
        left: 80px;
    }

    .vector {
        right: 100px;
    }

    .text img {
        width: 18rem;
    }

    .logo {
        font-size: 14px;
        letter-spacing: 1.2px;
        font-weight: 500;
        color: #333;
    }

    .logo span {
        font-size: 12px;
        padding-left: 4px;
        font-weight: 550;
    }

    .entry {
        width: 82px;
        height: 32px;
        font-size: .88em;
        letter-spacing: 1.4px;
    }
}

@media screen and (max-width:340px) {
    .text img {
        width: 16rem;
    }
}

#news_section {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 50px;
    padding: 120px 20px 20px 20px;
    align-items: start;
}

#news_section h2 {
    width: 220px;
    font-size: 1em;
    letter-spacing: 1.6px;
    font-weight: normal;
    margin: 0;
    display: inline-block;
    color: #333;
}

.news_list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.news_list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
    font-size: .88em;
}

.item:first-child a {
    padding-top: 10px;
}

.item:last-child a {
    border-bottom: none;
}

.news_list .item .date {
    margin: 0;
    min-width: 120px;
    font-size: .88em;
    color: #333;
    padding: 0 20px 0 0;
}

.news_list .item .title {
    margin: 0;
    width: 100%;
    font-size: 1.12em;
    letter-spacing: 1.6px;
}

.news_list .item a:hover .title {
    color: #6B8FA8;
    transition: .3s;
}

a {
    text-decoration: none;
}

.heading08 {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.heading08 span {
    display: flex;
    align-items: center;
    color: #6B8FA8;
    font-size: 3rem;
    padding-right: 20px;
    text-transform: uppercase;
    padding-bottom: 8px;
    font-weight: 800;
}

@media screen and (max-width:1000px) {
    .item01 {
        margin-top: 10px;
    }

    .heading08 span {
        padding-bottom: 0;
    }

    #news_section {
        grid-template-columns: 1fr;
        grid-template-rows: 78px 1fr;
        gap: 10px;
        padding: 28px;
        margin-top: 0;
        padding-top: 60px;
    }

    .news_list .item a {
        display: flex;
        flex-wrap: wrap;
        flex-wrap: nowrap;
        text-decoration: none;
        color: #333;
        border-bottom: 1px solid #CCC;
        padding: 20px 0;
        font-size: .88em;
    }

}

@media screen and (max-width: 768px) {
    .news_list .item a {
        flex-wrap: wrap;
    }

    .news_list .item .date {
        min-width: 100px;
    }

    .news_list .item .title {
        margin-top: 10px;
    }
}

@media screen and (max-width:550px) {
    #news_section h2 {
        font-size: 12px;
    }

    .heading08 span {
        font-size: 30px;
    }

    #news_section {
        grid-template-rows: 64px 1fr;
        padding: 40px 10px;
    }

    .news_list .item a {
        padding: 12px 0;
    }

    .news_list .item .title {
        font-size: 1em;
        letter-spacing: 1.2px;
    }

    .news_list .item .date {
        font-size: 0.7em;
        letter-spacing: 1px;
    }
}

#about_section {
    letter-spacing: 1.6px;
    font-weight: normal;
    margin: 0;
    display: inline-block;
    color: #333;
}

#about_section {
    padding: 0 20px;
    padding-right: 0;
}

.content_about {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 50px;
}

.about_left h3 {
    padding-top: 40px;
    font-size: 1.8em;
    letter-spacing: 1.6px;
    font-weight: 500;
    margin: 0;
}

.about_left p {
    margin: 0;
    padding: 40px 0;
    line-height: 1.8;
    letter-spacing: 1.6px;
    font-size: 1em;
    font-weight: 500;
}

.btn_about {
    cursor: pointer;
    font-weight: normal;
    background: #ffff;
    width: 180px;
    height: 50px;
    border-radius: 100px;
    border: 1.2px solid #333;
    font-size: 1em;
    color: #333;
    letter-spacing: 1.6px;
    /* background: linear-gradient(90deg, #ef629f 0%, rgba(255, 191, 48, 1) 50%, #ef629f 100%); */
    background-size: 200% 100%;
    border: 1px solid #333;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.btn_about:hover,
.entry:hover {
    /* background: linear-gradient(to right, #ef629f, #eecda3); */
    background-color: #fff;
    border: 1px solid #212121;
    color: #212121;
    opacity: .8;
    transition: .3s;
    background-position: 100% 0;
}




.about_image {
    background-image: url(../image/salon_img.png);
    background-size: cover;
    border-radius: 40px 0 0 40px;
}

.about_image_media {
    display: none;
    background-image: url(../image/salon_img.png);
    background-size: cover;
    background-position: center center;
    border-radius: 50px 0 50px 0;
    border-radius: 20px;
}

@media screen and (max-width:1000px) {
    .about_image {
        display: none;
    }

    #about_section h2 {
        padding-bottom: 40px;
    }

    .about_image_media {
        display: block;
    }

    #about_section {
        padding: 28px;
        padding-right: 28px;
        padding-top: 60px;
    }

    .content_about {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        gap: 40px;
    }

    .about_left h3 {
        padding-top: 0;
    }
}

@media screen and (max-width:480px) {
    #about_section {
        padding-top: 28px;
    }

    #about_section h2 {
        padding-bottom: 28px;
    }

    .content_about {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        gap: 20px;
    }

    .about_left h3 {
        padding-top: 0;
        font-size: 1.28em;
    }

    .about_left p {
        margin: 0;
        padding: 20px 0;
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 1.6px;
    }

    .btn_about {
        width: 160px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
    }
}

#features_section h2,
#blog_section h2,
#recruit_section h2,
#faq_section h2 {
    letter-spacing: 1.6px;
}

#features_section,
#recruit_section,
#faq_section {
    padding: 80px 20px;
}

.content_feature {
    padding-top: 40px;
    display: grid;
    grid-template-rows: repeat(3, 110px);
    gap: 20px;
}

.item_box {
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    height: 100px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_box p {
    margin: 0;
    font-weight: 600;
    font-size: 1.48em;
    letter-spacing: 1.6px;
    color: #333;
}

#working,
#working02,
#working03 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 60px;
}

.flex {
    display: flex;
    align-items: center;
}

.border {
    border: 1px solid #212121;
    transform: rotate(-90deg);
    width: 1px;
    height: 100px;
    background-color: #212121;
    margin: 0 100px 0 0;
}

#working h2,
#working02 h2,
#working03 h2 {
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 1.2px;
    color: #6b8fa8;
    margin: 0;
}

.work01 h3 {
    font-size: 1.2rem;
    padding-top: 20px;
    margin: 0;
    letter-spacing: 1.2px;
}

.work01:nth-of-type(1) {
    padding-top: 0;
}

.work01 p {
    font-size: 1rem;
    letter-spacing: 1.2px;
    line-height: 1.6;
}

.support,
.welfare {
    margin-top: 60px;
}

@media screen and (max-width:1100px) {

    #working h2,
    #working02 h2,
    #working03 h2 {
        font-size: 3.4rem;
    }

    #working,
    #working02,
    #working03 {
        grid-template-columns: 360px 1fr;
    }
}

@media screen and (max-width:930px) {

    #working h2,
    #working02 h2,
    #working03 h2 {
        font-size: 3.2rem;
    }

    #working,
    #working02,
    #working03 {
        grid-template-columns: 300px 1fr;
    }

    .border {
        height: 60px;
        margin: 0 60px 0 0;
    }
}

@media screen and (max-width:800px) {

    #working h2,
    #working02 h2,
    #working03 h2 {
        font-size: 3rem;
    }

    #working,
    #working02,
    #working03 {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .border {
        height: 60px;
        margin: 0 60px 0 0;
    }
}

@media screen and (max-width:500px) {

    #working h2,
    #working02 h2,
    #working03 h2 {
        font-size: 2.2rem;
    }

    #working,
    #working02,
    #working03 {
        gap: 20px;
    }

    .work01 h3 {
        font-size: 1.12rem;
    }

    .work01 p {
        font-size: 14px;
    }

    .support,
    .welfare {
        margin-top: 40px;
    }
}

@media screen and (max-width:430px) {
    header {
        grid-template-columns: repeat(2, 1fr) 30px;
    }

    .line div {
        width: 18px;
        margin-top: 4px;
    }

    .entry {
        width: 86px;
        height: 34px;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .big_heading {
        font-size: 2.2rem;
    }

    #working h2,
    #working02 h2,
    #working03 h2 {
        font-size: 1.6rem;
    }

    #working,
    #working02,
    #working03 {
        padding-top: 20px;
        gap: 20px;
    }

    .border {
        height: 16px;
        margin: 0 28px 0 0;
    }

    .work01 h3 {
        font-size: 1rem;
    }

    .work01 p {
        font-size: 14px;
    }
}

@media screen and (max-width:1000px) {
    #features_section {
        padding: 28px;
        padding-top: 60px;
    }
}

@media screen and (max-width:440px) {
    #features_section {
        padding-top: 40px;
    }

    .content_feature {
        padding-top: 28px;
        display: grid;
        grid-template-rows: repeat(3, 110px);
        gap: 20px;
    }

    .item_box {
        background: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
        border-radius: 14px;
        padding: 0 30px;
    }

    .item_box p {
        font-weight: 500;
        font-size: 1.2em;
    }
}

.item_box svg,
.blog_more svg,
.box_rec svg {
    transition: all .2s;
}

.item_box>svg:hover,
.blog_more>svg:hover,
.box_rec>svg:hover {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

.item_box:hover svg,
.blog_more:hover svg,
.box_rec:hover svg {
    transform: translateX(5px);
}

.item_box:active,
.blog_more:active,
.box_rec:active {
    transform: scale(0.99);
}

#blog_section {
    padding: 60px 20px;
}

.blog_more {
    display: flex;
    align-items: center;
}

.blog_more svg {
    padding: 0 0 0 20px;
}

.blog_all {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog_img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    background-position: center;
}

.blog_img:hover {
    transform: scale(0.96);
    transition: transform 0.3s;
    opacity: .8;
}

.img_01 {
    background-image: url(../image/blog_shitigosan.jpg);
    background-size: cover;
}


.img_02 {
    background-image: url(../image/summer_ticket.jpg);
    background-size: cover;
}

.img_03 {
    background-image: url(../image/summer_01.jpg);
    background-size: cover;
}

.content01 a {
    text-decoration: none;
    color: #333;
}

.date {
    line-height: 1.8;
    font-size: 12px;
}

.title {
    font-size: 16px;
    letter-spacing: 1.6px;
}

@media screen and (max-width:768px) {
    .blog_all {
        grid-template-columns: repeat(2, 1fr);
    }
}

.content_recruit {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rec01 {
    height: 300px;
    background: #f5f5f5;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 10px 0 0 10px;
    /* border: 1px solid #333; */
    /* border-right: 2px solid #333; */
}

.rec02 {
    height: 300px;
    background: #f5f5f5;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    /* border: 1px solid #333; */
    border-radius: 0 10px 10px 0;

}

.box_rec p {
    padding: 60px 0 0 60px;
    font-size: 1.6em;
    letter-spacing: 1.6px;
    font-weight: 400;
    color: #333;
}

.box_rec span {
    padding-left: 0;
}

.box_rec>svg {
    position: relative;
    top: 20%;
    left: 85%;
}

.big_btn {
    margin-top: 60px;
    width: 100%;
    height: 80px;
    letter-spacing: 1.6px;
    border: 1.5px solid #333;
    font-weight: 500;
    font-size: 1.8em;
    border-radius: 100px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.big_btn {
    text-decoration: none;
    background-color: #fff;
    color: #333;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.big_btn:hover {
    background-color: #6B8FA8;
    border: 1px solid #6B8FA8;
    color: #fff;
}

.big_btn a {
    color: #333;
}

.big_btn:hover a {
    color: #fff;
}

@media screen and (max-width:1000px) {
    .box_rec p {
        padding: 28px 0 0 40px;
    }

    .box_rec>svg {
        position: relative;
        top: 20%;
        left: 80%;
    }
}

@media screen and (max-width:768px) {
    .content_recruit {
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 200px);
        gap: 20px;
    }

    .box_rec:first-child {
        height: 200px;
        border-radius: 10px;
    }

    .box_rec:last-child {
        height: 200px;
        border-radius: 10px;

    }

    .box_rec p {
        padding: 20px 0 0 40px;
        font-size: 1.4em;
        line-height: 2;
    }

    .box_rec>svg {
        position: relative;
        top: -10%;
        left: 88%;
    }

    .big_btn {
        margin-top: 80px;
    }
}

@media screen and (max-width:500px) {
    .box_rec p {
        padding: 18px 0 0 28px;
        font-size: 1.2em;
        font-weight: 500;
    }

    .box_rec>svg {
        position: relative;
        left: 84%;
    }

    .big_btn {
        width: 100%;
        height: 68px;
        font-size: 2em;
        border-radius: 100px;
    }
}

@media screen and (max-width:414px) {
    .content_recruit {
        gap: 0;
    }

    .box_rec:first-child {
        height: 180px;
    }

    .box_rec:last-child {
        height: 180px;
    }

    .box_rec p {
        padding: 20px 0 0 28px;
        font-size: 1em;
        font-weight: 500;
    }

    .box_rec>svg {
        position: relative;
        left: 80%;
    }

    .big_btn {
        width: 100%;
        height: 60px;
        letter-spacing: 1.6px;
        border: 1.2px solid #333;
        font-weight: 500;
        font-size: 1.6em;
        border-radius: 100px;
    }
}
.cp_qa {
    padding-top: 40px;
}

.cp_qa *,
.cp_qa *:after,
.cp_qa *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cp_qa .cp_actab {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 0 1em 0;
    color: #1b2538;
}

.cp_qa .cp_actab input {
    position: absolute;
    opacity: 0;
}

/* Q */
.cp_qa .cp_actab label {
    font-weight: 400;
    line-height: 1.6em;
    position: relative;
    display: block;
    margin: 0;
    padding: 1em 2em 1em 2.5em;
    cursor: pointer;
    text-indent: 1em;
    border-radius: 0.5em;
    /* background: rgba(27, 37, 56, 0.1); */
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
}

.cp_qa .cp_actab label::before {
    font-size: 1.2em;
    margin-left: -2.4em;
    padding-right: .5em;
    content: 'Q';
}

.cp_qa .cp_actab label:hover {
    transition: all 0.3s;
    color: #333;
}

/* + */
.cp_qa .cp_actab label::after {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2em;
    position: absolute;
    top: 0;
    right: 5px;
    content: '+';
    display: inline-block;
    width: 2em;
    height: 2em;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
    padding: .2em .5em;
}

/* A */
.cp_qa .cp_actab .cp_actab-content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    padding: 0 0 0 2.5em;
    -webkit-transition: max-height 0.2s;
    transition: max-height 0.2s;
    border-radius: 0 0 0.5em 0.5em;
}

.cp_qa .cp_actab .cp_actab-content::before {
    font-size: 1.5em;
    position: absolute;
    margin: 0.4em 0 0 -1em;
    padding: 0;
    content: 'A';
}

.cp_qa .cp_actab .cp_actab-content p {
    margin: 1em 1em 1em 0;
}

.cp_qa .cp_actab input:checked~.cp_actab-content {
    max-height: 40em;
    border: 1px solid #333;
}

.cp_qa .cp_actab input:checked~label {
    color: #6B8FA8;
    border-radius: 0.5em 0.5em 0 0;
}

.cp_qa .cp_actab input[type=checkbox]:checked+label::after {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@media screen and (max-width:550px) {
    .menu-content h1 {
        letter-spacing: 1.6px;
        font-size: 26px;
    }

    .navigation_menu {
        gap: 50px;
    }

    .navigation_menu a {
        font-size: 14px;
        letter-spacing: 1.6px;
        line-height: 1.6;
    }

    .heading08 {
        font-size: 12px;
        font-weight: normal;
    }

    .heading08 span {
        font-size: 25px;
    }

    #about_section {
        padding: 40px 10px;
    }

    #about_section h2 {
        padding-bottom: 10px;
    }

    .about_left h3 {
        letter-spacing: 1.6px;
    }

    .about_left h3 {
        font-size: 1.2em;
    }

    .about_left p {
        padding: 16px 0;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 1.2px;
    }

    #features_section {
        padding: 40px 10px;
    }

    .content_feature {
        padding-top: 20px;
        grid-template-rows: repeat(3, 110px);
    }

    #blog_section {
        padding: 40px 10px;
    }

    .blog_all {
        padding-top: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .blog_more svg {
        padding: 0 0 0 20px;
    }

    .blog_img {
        height: 180px;
    }

    .date {
        line-height: 0;
        padding-top: 10px;
        font-size: 10px;
    }

    .title {
        font-size: 14px;
        letter-spacing: 1.2px;
        margin: 0;
    }

    #recruit_section {
        padding: 40px 10px;
    }

    #faq_section {
        padding: 40px 10px;
    }

    .cp_qa .cp_actab .cp_actab-content::before {
        font-size: 1.2em;
        margin: 0.4em 0 0 -1.5em;
    }
}

@media screen and (max-width:414px) {
    .close-btn {
        top: 20px;
        right: 25px;
        font-size: 1.6rem;
    }

    .menu-content h1 {
        padding-left: 20px;
    }

    .navigation_menu {
        padding-left: 20px;
    }

    .content_recruit {
        grid-template-rows: repeat(2, 180px);
    }

    .box_rec:first-child {
        height: 160px;
    }

    .box_rec:last-child {
        height: 160px;
    }

    .big_btn {
        margin-top: 40px;
        height: 55px;
        letter-spacing: 1.6px;
        font-size: 1.2em;
    }

    .cp_qa {
        padding: 0;
    }

    .cp_qa .cp_actab label {
        line-height: 1.5;
        font-size: .8em;
        padding: 10px 30px 10px 38px;
        font-size: 14px;
    }

    .cp_qa .cp_actab .cp_actab-content p {
        font-size: 14px;
    }

    .cp_qa .cp_actab input:checked~label {
        font-size: 14px;
    }
}

footer {
    background-color: #6B8FA8;
    color: #fff;
    margin-top: 40px;
    padding: 20px 0;
    text-align: left;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.footer-section h4 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 15px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #333;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links li a {
    font-size: 16px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.social-links li a:hover {
    background-color: #fff;
    color: #333;
}

.company-info {
    padding-left: 20px;
}

/* copyright */
.footer-bottom {
    text-align: right;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-top: 1px solid #fff;
}

.footer-bottom p {
    font-size: 12px;
    color: #fff;
    margin: 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding: 0 20px;
    }
}

@media (max-width: 520px) {
    .company-info {
        padding-left: 20px;
    }

    .footer-section h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin: 0 auto;
        height: 400px;
    }

    .company-info {
        padding-left: 0;
    }

    .footer-bottom p {
        font-size: 8px;
    }
}