@charset "utf-8";

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "YakuHanJP_Narrow", "Zen Kaku Gothic New", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100vh;
}

.sticky {
    height: 94vh;
    /* border: 1px solid #000; */
    margin: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 2rem;
}

@media screen and (min-width:600px) {
    .sticky {
        position: fixed;
        width: 68px;
    }
}

/* .item 1 nav */
ul {
    padding: 0;
    text-align: center;
}

nav i,
p {
    text-align: center;
    margin: 0;
}

nav i {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

nav p {
    font-size: .7rem;
    margin-top: 6px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.navIcon::before {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #895b8a 0%, #f6bfbc 52%, #80aba9 90%);
}

.sticky i:hover {
    transform: scale(1.2);
    transition-duration: .4s;
}

@media screen and (max-width:600px) {

    /* display grid */
    .grid {
        grid-template-rows: 64px;
        height: 5vh;
    }

    .icon {
        display: flex;
        padding: 0 28px;
        justify-content: space-around;
        margin-top: 10px;
    }

    ul p {
        display: none;
    }

    nav i {
        font-size: 1.4rem;
    }

    .fa-solid,
    .fa-brands {
        margin: 0;
        padding: 0;
    }

    .sticky {
        height: 46px;
        margin: .68rem;
    }

    ul {
        display: flex;
        padding: 0 28px;
        justify-content: space-around;
        margin-top: 10px;
    }

    ul p {
        display: none;
    }

    nav i {
        font-size: 1.4rem;
    }

    .fa-solid,
    .fa-brands {
        margin: 0;
        padding: 0;
    }

    .item {
        margin: 10px;
    }

    .bigbox {
        margin-left: 10px;
        margin-top: 0;
    }

    /* flex layout */
    .bigbox {
        border-radius: 1.4rem;
    }

    /* flex items */
    .small_box {
        flex: 0 0 90vh;
    }

    .form_box {
        flex: 0 0 80vh;
    }
}

@media screen and (max-width:600px) {

    /* display grid */
    .grid {
        grid-template: 64px 1fr / 1fr;
    }

    ul {
        display: flex;
        padding: 0 28px;
        justify-content: space-around;
        margin-top: 10px;
    }

    ul p {
        display: none;
    }

    nav i {
        font-size: 1.4rem;
    }

    .fa-solid,
    .fa-brands {
        margin: 0;
        padding: 0;
    }

    .item {
        margin: 10px;
    }

    .bigbox {
        margin-left: 10px;
        margin-top: 0;
    }

    /* flex layout */
    .bigbox {
        border-radius: 1.4rem;
    }

    /* flex items */
    .small_box {
        flex: 0 0 90vh;
    }

    .form_box {
        flex: 0 0 80vh;
    }
}

.page_title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    padding: 6px 0 10px 0;
    justify-content: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.page_title p {
    margin: 0;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-right: 8px;
}

.page_title i {
    font-size: 36px;
    padding-top: 6px;
    padding-left: 10px;
}

.works_item:hover {
    transform: scale(0.98);
    opacity: .8;
    cursor: pointer;
}

/* nav & .works_item flex */
.flex {
    display: flex;
}

.item .sticky {
    position: sticky;
    top: 0;
    /* Adjust as needed */
}

/* .works_grid */

.works_grid {
    overflow-y: auto;
    scrollbar-width: none;
    padding: 20px 10px 20px 8px;
    margin-bottom: 60px;
}

.content_flex {
    display: flex;
    flex-wrap: wrap;
    /* flexアイテムを折り返す */
    gap: 10px;
    margin-top: 20px;
}

.works_item {
    flex: 0 0 calc(50% - 10px);
    /* 列幅の設定 */
    max-width: calc(50% - 10px);
    /* 最大幅の設定 */
    height: auto;
    /* 高さの自動調整 */
    margin-bottom: 10px;
    /* 下の余白 */
}

.works_item img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}

.title {
    margin-top: 20px;
    padding: 10px 0;
    letter-spacing: 1.2px;
    font-size: 1.12rem;
}

@media screen and (max-width:885px){
    .title {
        font-size: 0.9rem;
    }
    .page_title {
        margin-top: 10px;
    }
    .page_title p {
        font-size: 28px;
    }
    .page_title i {
        font-size: 22px;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .works_item {
        flex: 0 0 calc(100% - 10px);
        /* 1列にスタックする */
        max-width: calc(100% - 10px);
    }
}

@media (max-width: 600px) {
    .flex {
        display: block;
    }
    .works_grid {
        margin-left: 10px;
    }
    .title {
        font-size: 1rem;
    }
    .page_title {
        margin-top: 40px;
    }
}

.content_flex p {
    padding-bottom: 20px;
    text-align: center;
}

.works_text p {
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    color: #000;
}

.content_flex a {
    text-decoration: none;
    color: #000;
}

.menu {
    font-size: 12px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.menu span {
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu:hover .japanese {
    opacity: 1;
}

.menu:hover:nth-of-type(3),
.menu:hover:nth-of-type(4) {
    font-size: 10px;
}

.menu .english {
    opacity: 1;
}
.menu:hover .english {
    opacity: 0;
}

.hover-text {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80px;
    height: 80px;
    padding: 40px;
    border-radius: 100%;
    font-size: 16px;
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .hover-text p {
    position: relative;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }
  
  .works_item:hover .hover-text {
    opacity: 1;
  }

  @media screen and (max-width:600px) {
    .sticky i {
        font-size: 18px;
    }
    .menu {
        font-size: 10px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 0 20px;
        color: black;
        text-decoration: none;
    }
    
    .menu span {
        position: absolute;
        top: 17px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        line-height: 1.5;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

@media screen and (max-width:450px) {
    .item_skills h2 {
        font-size: 1.2rem;
    }

    .page_title {
        margin-top: 50px;
    }

    .page_title p {
        font-size: 1.4rem;
    }

    .page_title i {
        font-size: 1.2rem;
    }
}